body{
background-image: url("https://static.pexels.com/photos/76969/cold-front-warm-front-hurricane-felix-76969.jpeg");
background-repeat: no-repeat;
background-position: center;

}

h1{
  color: grey;
}